.stu-info {
  background-color: #3a4750;
  padding: 24px;
  color: white;
  border-radius: 8px;
}

.title {
  text-decoration: underline;
  font-size: 20px;
}

.title2{
  font-size: 36px;
  margin-bottom: 48px;
}

.info-profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.info-profile img {
  width: 144px;
  height: 128px;
  border-radius: 999px;
  margin-right: 24px;
}

.info-profile .text-info {
  margin: 0;
}

.info-text {
  margin-bottom: 20px;
  font-size: larger;
}

.election-info {
  margin-bottom: 48px;
  font-size: larger;
}

