.container {
  width: 100%;
  background-color: white;
  margin: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.stu-info {
  background-color: #3a4750;
  padding: 24px;
  color: white;
  border-radius: 8px;
}

.title {
  text-decoration: underline;
}

.timer {
  align-self: end;
}
