.container {
  width: 100%;
  background-color: white;
  border: 2px solid rgb(242, 242, 242);
  margin: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.stu-info {
  background-color: #3a4750;
  padding: 24px;
  color: white;
  border-radius: 8px;
}

.title {
  text-decoration: underline;
}

.info-profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.info-profile img {
  width: 68px;
  height: 82px;
  margin-right: 24px;
}

.info-profile .text-info {
  margin: 0;
}

.info-text {
  margin-bottom: 20px;
}

.election-info {
  margin-bottom: 48px;
}

.timer {
  margin-top: 50px;
  padding: 10px 60px;
  align-self: flex-end;
  background-color: #303841;
  color: white;
  border-radius: 8px;
}
